.searchBar {
    /*background-color: dodgerblue;*/
    margin: 5px 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.searchContainer {
    /*background-color: red;*/
    display: flex;
    justify-content: center;
}


.placeholderText {
    /*background: palevioletred;*/
    width: 80%;
    border: 1px solid #aaa;
    /*margin-right: 10px;*/
    margin: 5px 10px 5px 10px;
    background: white;
    font-size: 15px;
    padding: 10px 250px 10px 30px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    justify-content: center;
    align-self: center;
}

.submitButton {
    position: relative;
    overflow: hidden;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
    color: #ffffff;
    background-color: #3f51b5;
    justify-content: flex-end;
}

.submitButton:hover {
    background-color: #303f9f;
}

li {
    list-style-type: none;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: rgb(48, 54, 58);
}

.container {
    margin: auto;
    width: 43%;
    /*background: #61dafb;*/
}

.news-list {
    /*background: yellowgreen;*/
    margin: 0 10px;
    padding: 5px;
    cursor: pointer;
    border-bottom: 2px solid #f2f2f2;
    height: 135px
}

.news-list:hover {
    background-color: #f2f2f2;
}

.sourceContainer {
    display: flex;
}

.source {
    /*background: brown;*/
    font-weight: 700;
    font-family: Capsule Sans Text, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 13px;
    padding: 0 0 0 5px;
    margin: 3px 0;
}

.date {
    /*background: darkmagenta;*/
    font-family: Capsule Sans Text, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 13px;
    margin: 3px 0 3px 10px;
}


.titleContainer {
    /*background: pink;*/
    display: flex;
    size: 20px;
}

.title {
    /*background: darkslategray;*/
    padding: 0 5px;
    margin: 3px 0;
    justify-content: flex-start;
    width: 90%;
    font-size: 15px;
}

.picture {
    padding-right: 30px;
    max-width: 170px;
    max-height: 100px;
    overflow: hidden;
    justify-content: center;
}

.hide-newsFeed {
    visibility: hidden;
}



